<h1>Eve Corp Market</h1>
<h2>The app to concentrate your corp or alliance trade market</h2>
<p>
    <a href="https://login.eveonline.com/oauth/authorize?response_type=code&redirect_uri={{url_encode redirect_uri }}&client_id={{url_encode client_id }}&scope=publicData%20esi-assets.read_assets.v1%20esi-ui.open_window.v1%20esi-assets.read_corporation_assets.v1%20esi-characterstats.read.v1">
        <img src="assets/eve_sso.webp" alt="Login with Eve">
    </a>
</p>