<h1>Eve Corp Market</h1>
<h2>The app to concentrate your corp or alliance trade market</h2>
<p>
    <a href="https://login.eveonline.com/oauth/authorize?response_type=code&redirect_uri={{ redirect_uri }}&client_id={{ client_id }}">
        <img src="assets/login_with_eve.jpg" alt="Login with Eve">
    </a>
</p>